*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* to prevent any pre-given padding and margin from the browser */
  box-sizing: inherit;
  /* total weidth und height are not added to the box */ }

html {
  font-size: 62.5%;
  /* 1rem = 10px */ }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px; */
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*!-- remove the shaky heading */
  margin-bottom: 4.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    /*
    animation-delay: 2s;
    animation-iteration-count: 3;
  */ }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    animation-name: moveInRight;
    animation-duration: 5s;
    animation-timing-function: ease-out; }

/*.heading-primary-main{
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 20px;

  animation-name: moveInLeft;
  animation-duration: 5s;
  animation-timing-function: ease-out;
} */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55b784, #126a3c);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .4s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(7deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.first-row {
  margin-left: -5rem; }

.btn:link, .btn:visited {
  /* link is a special state of btn element */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  width: 50%;
  font-size: 80%;
  animation-name: moveInBottom;
  animation-duration: 3s;
  animation-timing-function: ease-out .75s;
  /* .75 delay */
  animation-fill-mode: backwards;
  font-size: 1.3rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* x y blur*/ }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  /*the btn is also inline-block */
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*defines the position of the element if they on of top eachother, this is behind */
  transition: all .4s; }

.btn--white::after {
  background-color: #fff; }

.btn:link, .btn:visited {
  /* link is a special state of btn element */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  width: 50%;
  font-size: 80%;
  animation-name: moveInBottom;
  animation-duration: 3s;
  animation-timing-function: ease-out .75s;
  /* .75 delay */
  animation-fill-mode: backwards;
  font-size: 1.3rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* x y blur*/ }
  .btn:hover::after {
    /* this an after element when we hover on the element */
    transform: scaleX(1.4) scaleY(1.2);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  /*the btn is also inline-block */
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*defines the position of the element if they on of top eachother, this is behind */
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55b784;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55b784;
  padding: 0.3rem;
  transition: all .3s; }

.btn-text:hover {
  background-color: #55b784;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 70%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.4s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: -5rem;
      top: 8rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 20rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55b784;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(229, 229, 242, 0.5) 0%, rgba(221, 228, 225, 0.5) 11%, rgba(45, 144, 93, 0.5) 39%, rgba(18, 106, 60, 0.699) 100%), url(../img/in_2.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    /* we want to image to stay all the time at the same place*/
    top: 4rem;
    /*relative to parent element */
    left: 4rem; }
  .header__logo {
    height: 4.2rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*!-- 50 percent of the element left and top- */
    text-align: center;
    /* align all text in the text box to the center */ }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 *((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) +  ( 2 * (6rem) )); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

background: rgb(229,229,242);
background: linear-gradient(90deg, rgba(229,229,242,1) 0%, rgba(221,228,225,1) 11%, rgba(77,181,23,1) 39%, rgba(12,142,68,1) 100%);
  rgba(126, 213, 111, 0.8),
  rgba(40, 100, 131, 0.8))

  background: linear-gradient(90deg, rgba(221,221,231,1) 0%,
   rgba(115,159,129,1) 10%, 
   rgba(80,175,50,1) 23%, 
   rgba(77,181,23,1) 39%, 
   rgba(77,169,70,1) 62%, 
   rgba(12,142,68,1) 94%);
*/
