// importing abstract scss files
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// importing base scss files
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utility";

// importing compoenent scss files
@import "components/button";
@import "components/composition.scss";

// importing layout scss files

@import "layout/header";
@import "layout/grid";




// importing pages scss files
@import "pages/home";



/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

background: rgb(229,229,242);
background: linear-gradient(90deg, rgba(229,229,242,1) 0%, rgba(221,228,225,1) 11%, rgba(77,181,23,1) 39%, rgba(12,142,68,1) 100%);
  rgba(126, 213, 111, 0.8),
  rgba(40, 100, 131, 0.8))

  background: linear-gradient(90deg, rgba(221,221,231,1) 0%,
   rgba(115,159,129,1) 10%, 
   rgba(80,175,50,1) 23%, 
   rgba(77,181,23,1) 39%, 
   rgba(77,169,70,1) 62%, 
   rgba(12,142,68,1) 94%);
*/