.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; // set the background
  opacity: .7;
  overflow: hidden;
  background: linear-gradient(to right,rgba(229, 229, 242, 0.5) 0%, rgba(221, 228, 225, 0.5) 11%, rgba($color-primary-medium,0.5) 39%, rgba($color-secondary-dark, 0.699) 100%);

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; //
  }
}