.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right,
  rgba(229, 229, 242, 0.5) 0%, rgba(221, 228, 225, 0.5) 11%, rgba($color-primary-medium,0.5) 39%, rgba($color-secondary-dark, 0.699) 100%),
   url(../img/in_1.jpg);
   background-size: cover;
   // 
transform: skewY(-5deg);
margin-top: -10rem;

  & > *  { // select the direct child

    transform: skewY(5deg);

}
}

.section-tours {

  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}